src/main/mule/myFirstMuleGit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94c34f59-94d1-48af-8d33-0fb2b8167a0f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myFirstMuleGitFlow" doc:id="5cea5d0e-3d8b-4fea-992e-e47488215a52" >
		<http:listener doc:name="Listener" doc:id="63ac7c28-669b-45ea-8a3d-9e4cba3e7091" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='#["Hi welcome to Git"]' doc:name="Set Payload" doc:id="6798aed0-28dd-4e39-a807-b667187ea179" />
	</flow>
</mule>
